Include*
Lib*
Scripts*
tcl*
*.pyc
*.7z
utils/make_day.py
venv

test*.txt
exemple.txt
**/input*
!template-day
temp/*
notes*
sh*
debug*
**/autres

reflexion*.txt

2022/bash*

**/.idea
**/mvnw*
**/.mvnw*
**/.mvn*
**.zip
*/*/.gitignore

**/.attach*

